---
permalink: /
layout: mbm2020
---

<div class="container mx-auto mt-32 flex flex-wrap items-center px-4">
  <div class="flex w-full mb-16">
    <div id="top" class="h-0" style="bottom: 100px; position: relative;"></div>
    <div class="flex flex-col w-full text-center lg:text-left lg:w-1/2">
      <h1 class="font-bold text-4xl md:text-5xl mb-5">
        Workshop on Modelling in Biology and Medicine
      </h1>
      <p class="text-2xl md:text-3xl">Bringing together young researchers in Sweden working on the border of mathematics, biology and medicine.</p>
    </div>
  </div>
  <div class="flex w-full mb-24 justify-end">
    <div class="flex flex-col w-full text-left lg:w-3/5 xl:w-1/2 lg:pl-12 xl:pl-16">
      <div class="text-center section-header">
        <span class="text-mbm-red-light">Update:</span><br/>
        New date and format!
      </div>
      <div class="text-center mx-2 sm:mx-24 lg:mx-0 text-2xl md:text-3xl mb-4">
        The workshop will be held in a digital format on 15<sup>th</sup>
        and 16<sup>th</sup> of October 2020.</div>
    </div>
  </div>
  <section class="page-section">
    <h1 class="section-header">The Workshop</h1>
    <div class="content-box">
      <p class="mb-4">
        We are pleased to invite you to our <span class="font-bold">second Workshop on Modelling in Biology and Medicine (MBM 2020)</span>.
      </p>
      <p>
        We aim to gather all young researchers in Sweden working on modelling of biological systems. Our ambition is to give all participating PhD students and PostDocs the opportunity to present their work through an oral presentation or a poster. Further, we wish to provide an insight on how modelling in biology and medicine is practiced in academia and industry.
      </p>
    </div>
  </section>
  <section class="page-section">
    <div id="sponsors" class="h-0" style="bottom: 100px; position: relative;"></div>
    <h1 class="section-header">Sponsors</h1>

    {% for sponsor in site.data.sponsors %}
    <div class="content-box items-center justify-center external">
        <img src="{{ site.baseurl }}/img/sponsors2020/AZ_RGB_H_COL.png" alt="{{ sponsor.name }}" class="sponsor-image">
      <p>
        {{ sponsor.description | markdownify }}
      </p>
    </div>
    {% endfor %}
  </section>
  <section class="page-section">
    <div id="presenters" class="h-0" style="bottom: 100px; position: relative;"></div>
    <h1 class="section-header">Invited speakers</h1>

    {% for speaker in site.data.invited-speakers %}
    <section class="content-box items-center justify-center external">
      <div class="w-full">
        <h1 class="content-header">{{ speaker.name }}</h1>
      </div>
      <div class="speaker-content">
        <div class="speaker-image-box">
          {% if speaker.image %}
          <img src="{{ site.baseurl }}/img/{{ speaker.image }}" alt="{{ speaker.name }}" class="speaker-image">
          {% endif %}
        </div>
        {% if speaker.bio %}
        <div class="speaker-description">
          {% for para in speaker.bio %}
          <p class="py-2">
           {{ para | markdownify }}
          </p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </section>
    {% endfor %}
  </section>
  <section class="page-section">
    <div id="format" class="h-0" style="bottom: 100px; position: relative;"></div>
    <h1 class="section-header">
      Format
    </h1>
    <div class="content-box">
      <p class="py-2">
        The workshop will be held in both plenary presentation sessions for larger talks as well as in smaller sessions for e.g. poster presentations and discussions.
      </p>
      <p class="py-2">
        The exact technicalities will be made available for <span class="font-bold">registered participants</span> closer to the date of the workshop. The main software for presentations and discussions will most likely be Zoom.
      </p>
    </div>
  </section>
  <section class="page-section">
    <div id="program" class="h-0" style="bottom: 100px; position: relative;"></div>
    <h1 class="section-header">Program</h1>
    <div class="content-box">
      <div class="flex flex-col lg:flex-row pt-2 pb-4">
        <div class="px-4 w-full lg:w-1/2 flex flex-col">
          <h1 class="content-header">Day 1</h1>
          <table class="table-fixed">
            <thead>
              <tr>
                <th class="w-1/6 text-center">Time</th>
                <th class="w-5/6 px-4 text-left">Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border py-2 text-center">13:00</td>
                <td class="border py-2 px-4">Startup</td>
              </tr>
              <tr class="bg-mbm-green-light">
                <td class="border py-2 text-center">13:10</td>
                <td class="border py-2 px-4">Talk: Invited Speaker</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">13:40</td>
                <td class="border py-2 px-4">Other talk (20 min x 1)</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">14:00</td>
                <td class="border py-2 px-4">Break</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">14:10</td>
                <td class="border py-2 px-4">Other talks (20 min x 2)</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">14:50</td>
                <td class="border py-2 px-4">Break</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">15:00</td>
                <td class="border py-2 px-4">Poster Session</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">16:20</td>
                <td class="border py-2 px-4">Break</td>
              </tr>
              <tr class="bg-mbm-green-light">
                <td class="border py-2 text-center">16:30</td>
                <td class="border py-2 px-4">Talk: Invited Speaker</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">17:00</td>
                <td class="border py-2 px-4">Official program for day 1 ends</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">18:30</td>
                <td class="border py-2 px-4">Social Activity</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="px-4 w-full lg:w-1/2 flex flex-col">
          <h1 class="content-header pt-4 lg:pt-0">Day 2</h1>
          <table class="table-fixed">
            <thead>
              <tr>
                <th class="w-1/6 text-center">Time</th>
                <th class="w-5/6 px-4 text-left">Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-mbm-green-light">
                <td class="border py-2 text-center">08:30</td>
                <td class="border py-2 px-4">Talk: Invited Speaker</td>
              </tr>
              <tr class="bg-mbm-green-light">
                <td class="border py-2 text-center">09:00</td>
                <td class="border py-2 px-4">Talk: Invited Speaker</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">09:30</td>
                <td class="border py-2 px-4">Break</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">09:40</td>
                <td class="border py-2 px-4">Other talks (20 min x 2)</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">10:20</td>
                <td class="border py-2 px-4">Break</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">10:30</td>
                <td class="border py-2 px-4">Other talks (20 min x 2)</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">11:10</td>
                <td class="border py-2 px-4">Break</td>
              </tr>
              <tr class="bg-mbm-green-light">
                <td class="border py-2 text-center">11:20</td>
                <td class="border py-2 px-4">Talk: Invited Speaker</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">11:50</td>
                <td class="border py-2 px-4">Session closing</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">12:00</td>
                <td class="border py-2 px-4">Lunch break</td>
              </tr>
              <tr>
                <td class="border py-2 text-center">13:00</td>
                <td class="border py-2 px-4">Extended discussion / speaker rooms (open ended)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div id="registration" class="h-0" style="bottom: 100px; position: relative;"></div>
    <h1 class="section-header">
      Registration
    </h1>
    <div class="content-box">
      <p class="mt-4 mb-4">
        You can participate at MBM 2020 by
      </p>
      <ul class="px-8 list-disc">
        <li>giving a plenary talk,</li>
        <li>presenting a poster (i.e. a four-slide presentation),</li>
        <li>or simply as an observer.</li>
      </ul>
      <p class="mt-4 mb-2">
        In the first two cases you will have to submit an abstract of max. 2000 characters. Please note that the number of plenary speakers is limited. If you sign up for a talk but do not get selected for a plenary talk, you are welcome to present a shorter four-slide presentation during the poster session. The poster sessions will be held in parallel.
      </p>
      <p class="my-2">
        Please note that you can edit your registration, which allows you to change your participation status.
      </p>
      <p class="my-2">
        The <strong>registration deadline</strong> is
      </p>
      <ul class="px-8 list-disc">
        <li>for talks on September 25th,</li>
        <li>for posters on October 2nd, and</li>
        <li>for observers on October 14th.</li>
      </ul>
      <p class="my-2">
        Participation in the digital workshop will be free of charge.
      </p>
      <form class="mt-4 flex flex-row justify-center items-center" action="https://docs.google.com/forms/d/e/1FAIpQLSdJ46IknhSQdsHDNXNC_kOMwJ6-9t1JLqPy9FBlRtMCeAWU3w/viewform?usp=sf_link" target="_blank">
        <input type="submit" class="bg-mbm-green hover:bg-mbm-green-light font-bold py-2 px-4 rounded text-white hover:text-black" value="Register here" />
      </form>
    </div>
  </section>
  <section class="page-section">
    <div id="contact" class="h-0" style="bottom: 100px; position: relative;"></div>
    <h1 class="section-header">
      Contact
    </h1>
    <div class="content-box">
      <p><span class="font-bold">Organising team (alphabetic order):</span>
      Filip Buric, Felix Held, Barbara Schnitzer</p>
      <p><span class="font-bold">Contact:</span> {filip.buric, hefelix, barsch} (at) chalmers.se</p>
    </div>
  </section>
</div>
