---
permalink: /mbm2019
layout: default
---

<div class="container" style="max-width: 970px">
  <div class="row pt-4">
    <div class="col">
      <p class="lead">
        We want to bring together young researchers in Sweden working on the border of math, biology, and medicine.
      </p>
      <h1 class="display-4 text-center">
          Visit the website of <a href="{{ site.url }}/">MBM 2020</a> to find out more about the next iteration of the workshop.
      </h1>
    </div>
  </div>
  {% include mbm2019/workshop.html %}
  {% include mbm2019/speakers.html %}
  {% include mbm2019/program.html %}
  {% include mbm2019/location.html %}
  {% include mbm2019/registration.html %}
</div>
