$primary: #247a5d; // green
$secondary: #6d81bf; // light-blue
$success: #91c4b3; // light-green
$danger: #cc7462; // light-red
$warning: #deb666; // light-yellow
$info: #7f7f7f; // grey
$mark-bg: #91c4b3; // light-green
