<section id="banner" class="py-5">
  <div class="primary-overlay text-white d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center">
          <h1 class="display-4 pt-4">
            Workshop on Modelling in Biology and Medicine
          </h1>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
  <div class="d-block d-md-none text-center text-primary">
    <h1 class="display-4">
      Workshop on Modelling in Biology and Medicine
    </h1>
  </div>
</section>