<footer class="py-5">
  <hr>
  <div class="container text-info">
    <div class="row">
      <div class="col">
        <div class="float-sm-left">
          Copyright by The Organizers &copy; 2018&ndash;{{ site.time | date: '%Y' }}<br>
          Gothenburg, Sweden
        </div>
        <div class="float-sm-right text-center">
          Feel free to contact us
          {% if site.show_social_icons %}
            {% include social_links.html %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- JS -->

<!-- Required by Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- Code for script submission -->
<script>
$(document).ready(function () {
  // Deal with sending the form
  var $form = $('form#reg-form');
  var url = 'https://script.google.com/macros/s/AKfycbyHUwVx6sVfU3esvoYhjEvYXXL33LeqFOL17QcRBx3ps2S5zSA/exec';
  
  // Observers should not submit an abstract
  $('input[type=radio][name=regInputPresentationForm]').change(function() {
    if (this.value == 'Observer') {
      $('#regInputAbstract').attr('disabled', true);
    } else {
      $('#regInputAbstract').attr('disabled', false);
    }
  });

  $('#regInputAbstract').bind('input propertychange', function() {
    var word_count = 0;
    if (this.value.length) {
      var word_count = $('#regInputAbstract').val().split(/\s+/).length;
    }
    $('#regInputAbstractWordCount').text("Word count: " + word_count);

    if (word_count > 0 && word_count < 251) {
      this.setCustomValidity('');
      $form[0].checkValidity();
    } else {
      if (word_count == 0) {
        this.setCustomValidity('Abstract needs to be provided');
        $form[0].checkValidity();
      } else {
        this.setCustomValidity('Abstract is too long');
        $form[0].checkValidity();
      }
    }
  });

  // If participant type is 'other' then they should specify
  // what they do
  $('select[name=regInputParticipantType]').change(function() {
    if (this.value == 'other') {
      $('#regInputParticipantTypeOther')[0].style.display = 'block';
    } else {
      $('#regInputParticipantTypeOther')[0].style.display = 'none';
    }
  })

  $('#submit-form').on('click', function(e) {
    e.preventDefault();

    $form.addClass("was-validated");
    // Special checking for field abstract
    if ($('#regInputTalk').is(':checked') || 
        $('#regInputPoster').is(':checked')) {
      $('#regInputAbstract').attr("required", true);

      var word_count = 0;
      if ($('#regInputAbstract')[0].value.length) {
        $('#regInputAbstract').val().split(/\s+/).length;
      }
      if (word_count == 0) {
        // Empy abstract
        $('#regInputAbstract')[0].setCustomValidity('Abstract needs to be provided.');
        $('#regInputAbstractInvalidFeedback').text('Abstract needs to be provided.');
      }
      if (word_count <= 300) {
        $('#regInputAbstract')[0].setCustomValidity('');
      } else {
        $('#regInputAbstract')[0].setCustomValidity(
          'Abstract too long');
        $('#regInputAbstractInvalidFeedback').text(
          'Abstract too long');
      }
    } else {
      $('#regInputAbstract').attr('required', false);
    }

    // Activate checking of participant type 'other' text field
    // if participant type is 'other'
    if ($('#regInputParticipantType')[0].value == 'other') {
      $('#regInputParticipantTypeOther').attr('required', true);
    } else {
      $('#regInputParticipantTypeOther').attr('required', false);
    }

    // Do input checking before sending
    if ($form[0].checkValidity() === false) {
      e.stopPropagation();
    } else {
      var jqxhr = $.ajax({
          url: url,
          method: 'GET',
          dataType: 'json',
          data: $form.serializeArray()
        })
        .done(function() {
          $('#submit-form').attr('disabled', true);
          $('#reg-output').text('Registration successfully submitted');
          $('#reg-output').addClass('text-success')
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
          alert('Error: ' + textStatus);
        });
    }
  });
});
</script>