<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ site.data.properties.sitetitle }}</title>

<!-- SEO -->
<meta property="description"
      content="{{ site.data.properties.advertisement }}" />

<!-- LinkedIn sharing -->
<meta property="og:title"
      content="{{ site.data.properties.title }}" />
<meta property="og:image" content="{{ '/img/logo.png' | absolute_url }}" />
<meta property="og:description"
     content="{{ site.data.properties.advertisement }}" />
<meta property="og:url" content="//mbm.systemsbiology.se" />

<!-- Twitter sharing -->
<meta property="twitter:card" content="summary" />
<meta name="twitter:title"
      content="{{ site.data.properties.title }}" />
<meta name="twitter:description"
      content="{{ site.data.properties.advertisement }}" />
<meta name="twitter:image" content="{{ '/img/logo.png' | absolute_url }}" />

<script src="{{ 'assets/js/' | append: site.data.assets['index.js'] | relative_url }}"></script>
<link rel="stylesheet"
      href="{{ 'assets/css/' | append: site.data.assets['index.css'] | relative_url }}">
