<div class="row py-4">
  <div class="col">
    <h1 id="program">Program</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>9th May</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Time</th>
          <th scope="col">Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-clipboard-list fa-2x"></i></th>
          <td>13.00</td>
          <td>Registration</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>14.00</td>
          <td>Key note lecture (international)</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-coffee fa-2x"></i></th>
          <td>15.00</td>
          <td>Coffee and posters ("Group A")</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>16.00</td>
          <td>Oral presentations by PhD-students and postdocs</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-utensils fa-2x"></i></th>
          <td>18.30</td>
          <td>Dinner</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h3>10th May</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Time</th>
          <th scope="col">Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>8.30</td>
          <td>Lecture Invited Speaker</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-coffee fa-2x"></i></th>
          <td>9.30</td>
          <td>Coffee and posters ("Group B")</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>10.30</td>
          <td>Oral presentations by PhD-students and postdocs</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-utensils fa-2x"></i></th>
          <td>12.00</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>13.00</td>
          <td>Oral presentations by PhD-students and postdocs</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>10.30</td>
          <td>Industrial applications (AstraZeneca, SysMedicine start-ups)</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-coffee fa-2x"></i></th>
          <td>15.00</td>
          <td>Coffee and posters ("Group C")</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>16.00</td>
          <td>Invited speaker, closing lecture (AZ, Chalmers or GU</td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-train fa-2x"></i></th>
          <td>17.00</td>
          <td>Departure</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>