<div class="row pt-3">
  <div class="col">
    <h1 id="program">Program</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>9th May</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" aria-hidden="true"></th>
          <th scope="col">Time</th>
          <th scope="col">Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-clipboard-list fa-2x"></i></th>
          <td>13.00</td>
          <td>Registration</td>
        </tr>
        <tr class="table-primary">
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>14.00</td>
          <td>Talk: Matteo Barberis</td>
        </tr>
        <tr class="table-primary">
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>14.30</td>
          <td>Talk: Adil Mardinoglu</td>
        </tr>
        <tr>
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-coffee fa-2x"></i></th>
          <td>15.00</td>
          <td>Coffee</td>
        </tr>
        <tr>
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>15.30</td>
          <td>
            Talks (15 min talk + 5 min questions):
            <ol>
              <li>Sandro Stucki</li>
              <li>Anass Bouchnita</li>
              <li>Niek Welkenhuysen</li>
              <li>Elin Nyman</li>
            </ol>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-beer fa-2x"></i></th>
          <td>17.00</td>
          <td>End of Day 1</td>
        </tr>
        <tr>
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-utensils fa-2x"></i></th>
          <td>18.00</td>
          <td>Dinner</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h3>10th May</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" aria-hidden="true"></th>
          <th scope="col">Time</th>
          <th scope="col">Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-primary">
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>8.30</td>
          <td>Talk: Eric Libby</td>
        </tr>
        <tr class="table-primary">
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>9.00</td>
          <td>Talk: Francesco Gatto</td>
        </tr>
        <tr class="table-secondary">
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-coffee fa-2x"></i></th>
          <td>9.30</td>
          <td>Coffee and posters</td>
        </tr>
        <tr>
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>10.30</td>
          <td>
            Talks (15 min talk + 5 min questions):
            <ol>
              <li>Philip Dalsbecker</li>
              <li>Valentina Fermanelli</li>
              <li>Angelo Limeta</li>
            </ol>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-utensils fa-2x"></i></th>
          <td>12.00</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>13.00</td>
          <td>
            Talks (15 min talk + 5 min questions):
            <ol>
              <li>Gunnar Cedersund</li>
              <li>Annikka Polster</li>
              <li>Adam Malik</li>
            </ol>
          </td>
        </tr>
        <tr class="table-primary">
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>14.00</td>
          <td>Talk: Peter Gennemark</td>
        </tr>
        <tr class="table-primary">
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>14.30</td>
          <td>Talk: Marina Rafajlović</td>
        </tr>
        <tr>
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-coffee fa-2x"></i></th>
          <td>15.00</td>
          <td>Coffee</td>
        </tr>
        <tr>
          <th scope="row" class="text-center" aria-hidden="true"><i class="fas fa-chalkboard-teacher fa-2x"></i></th>
          <td>15.30</td>
          <td>
            Talks (15 min talk + 5 min questions):
            <ol>
              <li>Marco Longfils</li>
              <li>Iván Domenzain</li>
              <li>Christoph Börlin</li>
            </ol>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-center"><i class="fas fa-train fa-2x"></i></th>
          <td>17.00</td>
          <td>Departure</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
