<div class="row">
  <div class="col">
    <h1 id="registration">Registration</h1>
    <form id="reg-form">
      <div class="form-group">
        <label for="regInputName">Name</label>
        <input type="text" class="form-control" name="regInputName" placeholder="First name + last name">
      </div>
      <div class="form-group">
        <label for="regInputEmail">E-mail</label>
        <input type="email" class="form-control" name="regInputEmail" placeholder="E-mail address">
      </div>
      <div class="form-group">
        <label for="regInputUniversity">University/Institution</label>
        <input type="text" class="form-control" name="regInputUniversity" placeholder="Name and city">
      </div>
      <div class="form-group">
        <label for="regInputAllergies">Food allergies or dietary restrictions</label>
        <input type="text" class="form-control" name="regInputAllergies" placeholder="Possible allergies or dietary restrictions">
      </div>
      <div class="form-group">
        <label for="regInputAbstract">Abstract (max. 250 words)</label>
        <textarea class="form-control" name="regInputAbstract" rows="10" placeholder="Write abstract here."></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-2" id="submit-form">Submit</button>
    </form>
  </div>
</div>