<div class="row py-3">
  <div class="col">
    <h1 id="registration">Registration</h1>
    <form id="reg-form">
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="regInputName">Name</label>
            <input type="text" class="form-control" name="regInputName" id="regInputName" placeholder="First name + last name">
          </div>
          <div class="form-group">
            <label for="regInputEmail">E-mail</label>
            <input type="email" class="form-control" name="regInputEmail" id="regInputEmail" placeholder="E-mail address">
          </div>
          <div class="form-group">
            <label for="regInputUniversity">University/Institution</label>
            <input type="text" class="form-control" name="regInputUniversity" id="regInputUniversity" placeholder="Name and city">
          </div>
          <div class="form-group">
            <label for="regInputAllergies">Food allergies or dietary restrictions</label>
            <input type="text" class="form-control" name="regInputAllergies" id="regInputAllergies" placeholder="Possible allergies or dietary restrictions">
          </div>
          <div class="form-group">
            <label for="regInputComment">Other comment (optional)</label>
            <input type="text" class="form-control" name="regInputComment" id="regInputComment" placeholder="Comment, remark, ...">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="regInputPresentationForm">Type of participation</label>
            <select class="form-control" name="regInputPresentationForm" id="regInputPresentationForm">
              <option>Talk</option>
              <option>Poster</option>
              <option>Observer</option>
            </select>
          </div>
          <div class="form-group">
            <label for="regInputAbstract">Abstract (max. 250 words)</label>
            <textarea class="form-control" name="regInputAbstract" id="regInputAbstract" rows="14" placeholder="Write abstract here."></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="regInputGPDR" id="regInputGPDR">
                <label class="form-check-label" for="regInputGPDR">I hereby give my consent that the information provided above is stored for the purposes of organizing this workshop.</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2" id="submit-form">Submit</button>
            <p id="reg-output"></p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>