<div class="row pt-3">
  <div class="col">
    <h1 id="registration">Registration</h1>
  </div>
</div>
<div class="row">
  <div class="col-10">
    <p class="lead">
      Important information:
    </p>
    <dl>
      <dt>Registration deadline</dt>
      <dd>
        <strong>Prolonged:</strong> Until <del>5th April 2019</del> <strong>25th April 2019</strong>.
        <br>
        Participants/presenters will be continuously contacted as soon as
        possible after registration.
      </dd>

      <dt>Registration fee</dt>
      <dd>
        <ul>
          <li><strong>No registration fee</strong> for PhD students and PostDocs</li>
          <li><strong>800 SEK</strong> for senior academic and non-academic participants.</li>
        </ul>
      </dd>

      <dt>Additional information</dt>
      <dd>
        <ul>
          <li>Talks are going to be 15 min + additional 5 min for questions</li>
          <li>PhD students will be able to receive <strong>1.5 credits</strong> from the University of Gothenburg when presenting a poster or holding a talk.</li>
          <li>Depending on the number of registered participants, we want to reserve the right to limit dinner participation to presenters, observing PhD students and PostDocs as well as fee-paying participants. <strong>However</strong>, feel free to sign up for the dinner even if you are not part of this group. We will let you know if there is enough space.</li>
        </ul>
      </dd>
    </dl>
  </div>
  <div class="col-2"></div>
</div>
<div class="row pb-3">
  <div class="col">
    <form id="reg-form" class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="regInputName">Name</label>
            <input type="text" class="form-control" name="regInputName" id="regInputName" placeholder="First name + last name" required>
          </div>
          <div class="form-group">
            <label for="regInputEmail">E-mail</label>
            <input type="email" class="form-control" name="regInputEmail" id="regInputEmail" placeholder="E-mail address" required>
          </div>
          <div class="form-group">
            <label for="regInputUniversity">University/Institution</label>
            <input type="text" class="form-control" name="regInputUniversity" id="regInputUniversity" placeholder="Name + city" required>
          </div>
          <div class="form-group">
            <label for="regInputParticipantType">I am a...</label>
            <select class="form-control" name="regInputParticipantType" id="regInputParticipantType" required>
              <option disabled selected value> -- Select an option -- </option>
              <option value="phd-student">PhD Student</option>
              <option value="postdoc">PostDoc</option>
              <option value="senior-academic">Senior Academic</option>
              <option value="non-academic">Non-academic</option>
              <option value="other">Other...</option>
            </select>
            <input type="text" class="form-control" name="regInputParticipantTypeOther" id="regInputParticipantTypeOther" placeholder="Specify" style="display: none;">
          </div>
          <legend class="col-form-label pt-0">I want to participate at the dinner</legend>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="regInputDinner" id="regInputYes" value="Yes" required checked>
              <label class="form-check-label" for="regInputYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="regInputDinner" id="regInputNo" value="No" required>
              <label class="form-check-label" for="regInputNo">No</label>
            </div>
          </div>
          <div class="form-group">
            <label for="regInputAllergies">Food allergies or dietary restrictions (optional)</label>
            <input type="text" class="form-control" name="regInputAllergies" id="regInputAllergies" placeholder="Possible allergies or dietary restrictions">
          </div>
          <div class="form-group">
            <label for="regInputComment">Other comment (optional)</label>
            <input type="text" class="form-control" name="regInputComment" id="regInputComment" placeholder="Comment, remark, ...">
          </div>
        </div>
        <div class="col-md-6">
          <legend class="col-form-label pt-0">Type of participation</legend>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="regInputPresentationForm" id="regInputTalk" value="Talk" required checked>
              <label class="form-check-label" for="regInputTalk">Talk</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="regInputPresentationForm" id="regInputPoster" value="Poster" required>
              <label class="form-check-label" for="regInputPoster">Poster</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="regInputPresentationForm" id="regInputObserver" value="Observer" required>
              <label class="form-check-label" for="regInputObserver">Observer</label>
            </div>
          </div>
          <div class="form-group">
            <label for="regInputAbstract">Abstract (max. 250 words; fill in for talk or poster)</label>
            <textarea class="form-control" name="regInputAbstract" id="regInputAbstract" rows="14" placeholder="Write abstract here."></textarea>
            <small id="regInputAbstractWordCount" class="form-text text-muted">Word count: 0</small>
            <div class="invalid-feedback" id="regInputAbstractInvalidFeedback"></div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-7">
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="regInputGPDR" id="regInputGPDR" required>
                <label class="form-check-label" for="regInputGPDR">I hereby give my consent that the information provided above is stored for the purposes of organizing this workshop.</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2" id="submit-form">Submit</button>
            <p id="reg-output"></p>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </form>
  </div>
</div>
