<div class="row pt-3">
  <div class="col">
    <h1 id="speakers">Invited Speakers</h1>
  </div>
</div>
<div class="row py-1">
  <div class="col-md-8">
    <h2>Matteo Barberis</h2>
    <p class="text-muted">
      Reader/Professor in Systems Biology at the University of Surrey in Guildford, UK
    </p>
    <p style="line-height: 1.1em;">
      <small>
        Matteo has recently become professor at the University of Surrey and has a background in industrial biochemistry, molecular biology and computational modelling. His research focuses on integrating experimentation and computation to gain insight on cellular organization. His main areas of focus are temporal control of gene regulation of cell cycle control and multi-scale frameworks that integrate cellular regulation.
      </small>
    </p>
  </div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div class="row">
      <div class="col text-center" style="height: 200px;">
        <img src="https://www.uva.nl/binaries/content/documents/personalpages/b/a/m.barberis/profilepicture/profilepicture/myprofile%3Aimage?1452700579972" alt="Matteo Barberis" class="img-fluid" style="border-radius: 10%; height: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://www.uva.nl/en/profile/b/a/m.barberis/m.barberis.html" target="_blank" class="badge badge-primary mb-3">Personal Website</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" style="border: none;">Title</th>
          <td style="border: none;">Systems biology to decipher design principles of cellular networks</td>
        </tr>
        <tr>
          <th scape="row" style="border: none;">Abstract</th>
          <td style="border: none;">Continuity of life is sustained by time-dependent responses of biological networks that are associated to oscillatory behavior of their components, at a proper frequency. The eukaryotic cell cycle is such an example, with waves of enzymatic activities being tightly regulated to guarantee its frequency. Therefore, molecular designs that exhibit a proper frequency of enzymatic oscillations are inherently crucial for a timely cell cycle progression. In this talk, I will show how computational frameworks, such as kinetic modelling, Boolean modelling, and multi-scale modelling, may serve the purpose of investigating how a timely cell cycle progression is achieved, possibly resulting in the identification of novel principle of design that ensures a timely cell cycling.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row pt-1 pb-3">
  <div class="col-md-8">
    <h2>Francesco Gatto</h2>
    <p class="text-muted">
      Guest Researcher at Chalmers and Co-Founder + Chief Scientific Officer at <a href="https://elypta.com" target="_blank">Elypta</a>
    </p>
    <p style="line-height: 1.1em;">
      <small>
        Named Winner of MIT Technology Review's <em>Innovators Under 35</em> in 2018, 
        Francesco co-founded Elypta in 2017, a molecular diagnostics start-up 
        focussed to improve the survival outlook of cancer patients by developing 
        systems biology-driven biomarkers.
        He invented a diagnostic and prognostic test for renal cell carcinoma based on 
        an exceptionally accurate liquid biopsy, which leveraged on a novel systems 
        biomarker for this common form of kidney cancer.
        This test recently showed unprecedented potential for other cancer types.
      </small>
    </p>
  </div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div class="row">
      <div class="col text-center" style="height: 200px;">
        <img src="https://iu35-prod.s3.amazonaws.com/images/Francesco_Gatto.width-3000.jpg" alt="Francesco Gatto" class="img-fluid" style="border-radius: 10%; height: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://www.innovatorsunder35.com/the-list/francesco-gatto/" target="_blank" class="badge badge-primary mb-3">Innovators Under 35</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" style="border: none;">Title</th>
          <td style="border: none;">From systems biology research to a diagnostic start-up</td>
        </tr>
        <tr>
          <th scape="row" style="border: none;">Abstract</th>
          <td style="border: none;">An ultimate goal of fundamental research is to improve the life of our people. Systems biology research can help patients to live better and longer by integrating data on their disease into personalized treatment. This is the core of precision medicine and requires innovation in therapeutics and diagnostics. During this talk, I will show an empirical model to make precision medicine a reality, a path set forth by innovation and a path that scientists have a privileged if not an exclusive access to. I will illustrate this model within the context of my own journey with Elypta, a molecular diagnostics start-up I cofounded in 2017 starting from a systems biology research project initiated during my doctoral studies.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row pt-1 pb-3">
  <div class="col-md-8">
    <h2>Peter Gennemark</h2>
    <p class="text-muted">
      Principal scientist at <a href="https://www.astrazeneca.com/our-science/gothenburg.html" target="_blank">AstraZeneca R&amp;D</a> and Adjunct Assoc Prof in Systems Biology at Linköping University
    </p>
    <p style="line-height: 1.1em;">
      <small>
        Peter works on mathematical modelling of biological systems and their interactions with drugs (systems biology and pharmacokinetics/pharmacodynamics). He is focusing on systems relevant for metabolic and cardiovascular diseases. In his work, he develops and analyses mathematical models of different granularity, and apply them in the preclinical phase of drug discovery. He collaborates closely on systems biology research topics with Gunnar Cedersund at Linköping University, for instance on modelling of micro-physiological (organ-on-a-chip) systems.
      </small>
    </p>
  </div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div class="row">
      <div class="col text-center" style="height: 200px;">
        <img src="https://warwick.ac.uk/fac/sci/eng/research/biomedical/impact/project_members/petergennemarkphoto.jpg" alt="Peter Gennemark" class="img-fluid" style="border-radius: 10%; height: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://warwick.ac.uk/fac/sci/eng/research/biomedical/impact/project_members/" target="_blank" class="badge badge-primary mb-3">IMPACT - Project members</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" style="border: none;">Title</th>
          <td style="border: none;">Mathematical modelling in preclinical drug discovery</td>
        </tr>
        <tr>
          <th scape="row" style="border: none;">Abstract</th>
          <td style="border: none;">The talk generally describes what type of mathematical models are used in the preclinical phases of drug discovery in the pharmaceutical industry, and how these models are implemented and applied in the discovery process. Focus is on how to translate the pharmacokinetics and the pharmacodynamics of a drug candidate between in vitro systems, animal models and humans. The talk includes several specific examples from the metabolic and cardiovascular areas.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row pt-1 pb-3">
  <div class="col-md-8">
    <h2>Adil Mardinoglu</h2>
    <p class="text-muted">
      Professor of Systems Biology at King’s College London, UK and Royal Institute of Technology (KTH), Sweden
    </p>
    <p style="line-height: 1.1em;">
      <small>
        Dr. Adil Mardinoglu works as a Professor of Systems Biology at King’s College London, UK and Royal Institute of Technology (KTH), Sweden. His main area of expertise is in Systems Biology/Medicine, Computational Systems Biology and Bioinformatics (<a href="http://sysmedicine.com" target="_blank">http://sysmedicine.com</a>). His research focuses on the generation of the context specific biological networks for human cells/tissues as well as certain types of cancer including hepatocellular carcinoma by integrating multi-omics data. Such comprehensive networks are employed to identify novel biomarkers and drug targets that can be used for the development of effective treatment strategies for NASH/NAFLD and other obesity-associated disorders. Dr. Mardinoglu is co-founder of two companies focusing on the development of therapies for liver associated diseases.
      </small>
    </p>
  </div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div class="row">
      <div class="col text-center" style="height: 200px; overflow: hidden;">
        <img src="https://eas2018.com/wp-content/uploads/2017/04/Mardinoglu500.jpeg" alt="Adil Mardinoglu" class="img-fluid" style="border-radius: 10%; height: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://eas2018.com/" target="_blank" class="badge badge-primary mb-3">86th EAS congress</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" style="border: none;">Title</th>
          <td style="border: none;">The use of systems biology in treatment of liver diseases</td>
        </tr>
        <tr>
          <th scope="row" style="border: none;">Abstract</th>
          <td style="border: none;">To develop novel strategies for prevention and treatment as well as to gain detailed insights about the underlying molecular mechanisms of liver diseases, it is vital to study the biological functions of liver and its interactions with other tissues and gut microbiota. Biological networks can provide a scaffold for studying biological pathways operating in the liver in connection with disease development in a systematic manner. In my presentation, I will present our recent work where biological networks have been employed to identify the reprogramming in liver physiology in response to NASH/NAFLD. I will further discuss how this mechanistic modelling approach can contribute to the discovery of biomarkers and identification of drug targets which may lead to design of targeted and effective treatment strategies.</td>
        </tr>
        <tr>
          <th scope="row" style="border: none;">Keypoints</th>
          <td style="border: none;">
            <ul>
              <li>Omics technologies are used in detailed characterization of human liver tissue in health and disease states.</li>
              <li>Biological network models are functional tools for exploring and integration of multiomics data.</li>
              <li>Systems biology uses a holistic and integrative approach for comprehensive analysis of the biological functions in healthy and diseased states.</li>
              <li>Systems Biology approaches have been successfully employed in hepatology to identify biomarkers and drug targets.</li>
              <li>These integrative tools can be used for simulation of liver tissue functions and its crosstalk with other tissues for prediction of therapeutic and side effects.</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row pt-1 pb-3">
  <div class="col-md-8">
    <h2>Marina Rafajlović</h2>
    <p class="text-muted">
      Assistant Professor at Gothenburg University, Marine Sciences
    </p>
    <p style="line-height: 1.1em;">
      <small>
        Marina has recently become Assistant Professor at the Department of Marine Sciences, University of Gothenburg, and she is a member of the <a href="www.cemeb.science.gu.se" target="_blank">Centre for Marine Evolutionary Biology, University of Gothenburg</a>. Marina has a background in Physics and Theoretical Biology. Her main research interests are within Evolutionary Biology. Specifically, she is interested in the mechanisms of speciation, species' range expansions and the evolutionary advantages of sexual reproduction. Marina's research method involves mathematical modelling (individual-based computer simulations) with model results serving as an input against which empirical genetic data are tested. Marina has recently been awarded a grant by the Hasselblad Foundation for developing her research on the evolution of populations undergoing range shifts, specifically focusing on short- and long-term potential for local genetic adaptation in expanding populations.
      </small>
    </p>
  </div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div class="row">
      <div class="col text-center" style="height: 200px;">
        <img src="https://i1.rgstatic.net/ii/profile.image/342395414695938-1458644836948_Q512/Marina_Rafajlovic.jpg" alt="Marina Rafajlovi" class="img-fluid" style="border-radius: 10%; height: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://www.researchgate.net/profile/Marina_Rafajlovic" target="_blank" class="badge badge-primary mb-3">ResearchGate</a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row py-3">
  <div class="col">
    <h1>PhD student and PostDoc Speakers</h1>
    <p>
      To be anounced
    </p>
  </div>
</div>