<div class="row pt-3">
  <div class="col">
    <h1 id="speakers">Invited Speakers</h1>
  </div>
</div>
<div class="row py-1">
  <div class="col-md-8">
    <h2>Matteo Barberis</h2>
    <p class="text-muted">
      Reader/Professor in Systems Biology at the University of Surrey in Guildford, UK
    </p>
    <p style="line-height: 1.1em;">
      <small>
        Matteo has recently become professor at the University of Surrey and has a background in industrial biochemistry, molecular biology and computational modelling. His research focuses on integrating experimentation and computation to gain insight on cellular organization. His main areas of focus are temporal control of gene regulation of cell cycle control and multi-scale frameworks that integrate cellular regulation.
      </small>
    </p>
  </div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div class="row">
      <div class="col text-center" style="height: 200px;">
        <img src="https://www.uva.nl/binaries/content/documents/personalpages/b/a/m.barberis/profilepicture/profilepicture/myprofile%3Aimage?1452700579972" alt="Matteo Barberis" class="img-fluid" style="border-radius: 10%; height: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://www.uva.nl/en/profile/b/a/m.barberis/m.barberis.html" target="_blank" class="badge badge-primary mb-3">Personal Website</a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row pt-1 pb-3">
  <div class="col-md-8">
    <h2>Francesco Gatto</h2>
    <p class="text-muted">
      Guest Researcher at Chalmers and Co-Founder + Chief Scientific Officer at <a href="https://elypta.com" target="_blank">Elypta</a>
    </p>
    <p style="line-height: 1.1em;">
      <small>
        Named Winner of MIT Technology Review's <em>Innovators Under 35</em> in 2018, 
        Francesco co-founded Elypta in 2017, a molecular diagnostics start-up 
        focussed to improve the survival outlook of cancer patients by developing 
        systems biology-driven biomarkers.
        He invented a diagnostic and prognostic test for renal cell carcinoma based on 
        an exceptionally accurate liquid biopsy, which leveraged on a novel systems 
        biomarker for this common form of kidney cancer.
        This test recently showed unprecedented potential for other cancer types.
      </small>
    </p>
  </div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div class="row">
      <div class="col text-center" style="height: 200px;">
        <img src="https://iu35-prod.s3.amazonaws.com/images/Francesco_Gatto.width-3000.jpg" alt="Francesco Gatto" class="img-fluid" style="border-radius: 10%; height: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://www.innovatorsunder35.com/the-list/francesco-gatto/" target="_blank" class="badge badge-primary mb-3">Innovators Under 35</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" style="border: none;">Title</th>
          <td style="border: none;">From systems biology research to a diagnostic start-up</td>
        </tr>
        <tr>
          <th scape="row" style="border: none;">Abstract</th>
          <td style="border: none;">An ultimate goal of fundamental research is to improve the life of our people. Systems biology research can help patients to live better and longer by integrating data on their disease into personalized treatment. This is the core of precision medicine and requires innovation in therapeutics and diagnostics. During this talk, I will show an empirical model to make precision medicine a reality, a path set forth by innovation and a path that scientists have a privileged if not an exclusive access to. I will illustrate this model within the context of my own journey with Elypta, a molecular diagnostics start-up I cofounded in 2017 starting from a systems biology research project initiated during my doctoral studies.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row pt-1 pb-3">
  <div class="col-md-8">
    <h2>Peter Gennemark</h2>
    <p class="text-muted">
      PhD in Computing Science specialising in Systems Biology and Senior Research Scientist at <a href="https://www.astrazeneca.com/our-science/gothenburg.html" target="_blank">AstraZeneca R&amp;D</a>
    </p>
    <p style="line-height: 1.1em;">
      <small>
        Peter is working with mathematical modelling of biological systems and their interactions with drugs (systems biology and PK/PD). In particular, body composition modelling.
        In particular, this involves computational and applied mathematical aspects of mathematical modelling such as identification, experimental planning, and data integration. He has been involved in the development of multiple software applications, concerning experimental design for preclinical applications (PopED lite), identification of ordinary differential equations (<a href="www.odeidentification.org" target="_blank">www.odeidentification.org</a>), and accelerated analysis of preclinical PK/PD data (a Matlab library).
      </small>
    </p>
  </div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div class="row">
      <div class="col text-center" style="height: 200px;">
        <img src="https://warwick.ac.uk/fac/sci/eng/research/biomedical/impact/project_members/petergennemarkphoto.jpg" alt="Peter Gennemark" class="img-fluid" style="border-radius: 10%; height: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://warwick.ac.uk/fac/sci/eng/research/biomedical/impact/project_members/" target="_blank" class="badge badge-primary mb-3">IMPACT - Project members</a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row pt-1 pb-3">
  <div class="col-md-8">
    <h2>Adil Mardinoglu</h2>
    <p class="text-muted">
      Associate Professor and group leader at <a href="http://sysmedicine.com/" target="_blank">Sysmedicine, SciLifeLab</a>
    </p>
    <p style="line-height: 1.1em;">
      <small>
        Adil is an expert in the field of Systems Biology and Bioinformatics. His recent research activities include the generation of the context specific genome-scale metabolic models for healthy human cell-types e.g. adipocytes, hepatocytes and myocytes as well as certain types of cancer e.g. liver cancer. He employed the reconstructed comprehensive models for revealing the molecular mechanisms of obesity associated diseases as well as for discovery of the novel biomarkers and drug targets. He also reconstructed personalized and population based models for liver cancer patients in order to identify anticancer drug targets that can inhibit the growth of, or kill tumors.
      </small>
    </p>
  </div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div class="row">
      <div class="col text-center" style="height: 200px; overflow: hidden;">
        <img src="https://eas2018.com/wp-content/uploads/2017/04/Mardinoglu500.jpeg" alt="Adil Mardinoglu" class="img-fluid" style="border-radius: 10%; height: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://eas2018.com/" target="_blank" class="badge badge-primary mb-3">86th EAS congress</a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row pt-1 pb-3">
  <div class="col-md-8">
    <h2>Marina Rafajlović</h2>
    <p class="text-muted">
      Assistant Professor at Gothenburg University, Marine Sciences
    </p>
    <p style="line-height: 1.1em;">
      <small>
        Marina has recently become Assistant Professor at the Department of Marine Sciences, University of Gothenburg, and she is a member of the <a href="www.cemeb.science.gu.se" target="_blank">Centre for Marine Evolutionary Biology, University of Gothenburg</a>. Marina has a background in Physics and Theoretical Biology. Her main research interests are within Evolutionary Biology. Specifically, she is interested in the mechanisms of speciation, species' range expansions and the evolutionary advantages of sexual reproduction. Marina's research method involves mathematical modelling (individual-based computer simulations) with model results serving as an input against which empirical genetic data are tested. Marina has recently been awarded a grant by the Hasselblad Foundation for developing her research on the evolution of populations undergoing range shifts, specifically focusing on short- and long-term potential for local genetic adaptation in expanding populations.
      </small>
    </p>
  </div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div class="row">
      <div class="col text-center" style="height: 200px;">
        <img src="https://i1.rgstatic.net/ii/profile.image/342395414695938-1458644836948_Q512/Marina_Rafajlovic.jpg" alt="Marina Rafajlovi" class="img-fluid" style="border-radius: 10%; height: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://www.researchgate.net/profile/Marina_Rafajlovic" target="_blank" class="badge badge-primary mb-3">ResearchGate</a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row py-3">
  <div class="col">
    <h1>PhD student and PostDoc Speakers</h1>
    <p>
      To be anounced
    </p>
  </div>
</div>