<div class="row">
  <div class="col">
    <h1 id="speakers">Speakers</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>Keynote Speaker: Matteo Barberis</h2>
    <p>
      Matteo is Professor at the University of Amsterdam and has a background in 
      industrial biochemistry, molecular biology and computational modelling. 
      His research focuses on integrating experimentation and computation to gain 
      insight on cellular organization. 
      His main areas of focus are temporal control of gene regulation 
      of cell cycle control and multi-scale frameworks that integrate cellular regulation.
    </p>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col text-center">
        <img src="https://www.uva.nl/binaries/content/documents/personalpages/b/a/m.barberis/profilepicture/profilepicture/myprofile%3Aimage?1452700579972" alt="Matteo Barberis" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="align-middle">
          Photo via 
          <a href="https://www.uva.nl/en/profile/b/a/m.barberis/m.barberis.html" target="_blank" class="badge badge-primary mb-3">Personal Website</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Invited Speakers</h2>
    <p>
      To be anounced
    </p>
  </div>
</div>