<div class="row py-4">
  <div class="col">
    <h2 id="workshop">The Workshop</h2>
    <p>
      We are pleased to invite you on the 1st workshop on Modelling in Biology and Medicine (MBM). The workshop will take place on 9 and 10 May. We aim to gather all the young researchers in Sweden working on Modelling of Biological systems. Our ambition is to give all participants the opportunity to present there work through an oral or a poster presentation. Further, we wish to provide an insight of industry on modelling in biology and medicine.
      We are looking forward to meet you at the 1st MBM workshop!
    </p>
    <p>
      The main aims behind the workshop is threefold. Firstly, we wish to initiate a national network for modellers related to biology and medicine. Consequently, the idea is to connect modellers from all over Sweden which might give incentives for future collaborations. Secondly, in addition we wish to connect modellers from both industry and academia in the field of interest. Thirdly, we would like to provide an opportunity for PhD-students to present their research in the form of both oral presentations and posters. The workshop will take place for two days and will involve presentations, poster sessions, fika, and not least a dinner. 
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Who we are</h1>
    <p>
      Short description of us. Group of PhD students at Mathematical Sciences Chalmers/GU blablah...
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1 id="speakers">Speakers</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>Keynote Speaker: Matteo Barberis</h2>
    <p>
      Matteo is Professor at the University of Amsterdam and has a background in 
      industrial biochemistry, molecular biology and computational modelling. 
      His research focuses on integrating experimentation and computation to gain 
      insight on cellular organization. 
      His main areas of focus are temporal control of gene regulation 
      of cell cycle control and multi-scale frameworks that integrate cellular regulation.
    </p>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col text-center">
        <img src="https://www.uva.nl/binaries/content/documents/personalpages/b/a/m.barberis/profilepicture/profilepicture/myprofile%3Aimage?1452700579972" alt="Matteo Barberis" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="https://www.uva.nl/en/profile/b/a/m.barberis/m.barberis.html" target="_blank" class="badge badge-primary mb-3">Personal Website</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Invited Speakers</h1>
    <p>
      To be anounced
    </p>
  </div>
</div>