<div class="row py-3">
  <div class="col">
    <h1 id="workshop">The Workshop</h1>
    <p>
      We are pleased to invite you to our Workshop on Modelling in Biology and Medicine (MBM). The workshop will take place on 9th and 10th May 2019. We aim to gather all young researchers in Sweden working on modelling of biological systems. Our ambition is to give all participants the opportunity to present their work through an oral presentation or a poster. Further, we wish to provide an insight on how modelling in biology and medicine is used in industry.
    </p>
    <p>
      <strong>
        We are looking forward to meeting you at the MBM workshop!
      </strong>
    </p>
  </div>
</div>
<div class="row pt-3">
  <div class="col">
    <h1>Who we are</h1>
    <p>
      We are a small group of PhD students and PostDocs working at the Department of Mathematical Sciences, Chalmers University of Technology and University of Gothenburg, as well as the Department of Systems and Synthetic Biology, Chalmers University of Technology.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="https://www.chalmers.se/en/departments/math/Pages/default.aspx" target="_blank" class="badge badge-primary">Mathematical Sciences</a>
    <a href="https://www.chalmers.se/en/departments/bio/research/systems-biology/Pages/default.aspx" target="_blank" class="badge badge-primary">Systems and Synthetic Biology</a>
  </div>
</div>
<div class="row pt-3">
  <div class="col">
    <h2>Organizing committee</h2>
  </div>
</div>
<div class="row pb-3 justify-content-around">
  <div class="col-md-1 col-12"></div>
  <div class="w-100 d-md-none d-lg-none d-xl-none"></div>
  <div class="col-md-2 col-sm-4 col-5 text-center">
    <div class="img-profile">
      <img src="img/johannesborgqvist.jpg" alt="Johannes Borgqvist" class="img-fluid">
    </div>
    <a href="https://www.chalmers.se/en/Staff/Pages/johborgq.aspx" target="_blank" class="badge badge-primary mb-3">Johannes Borgqvist</a>
  </div>
  <div class="col-md-2 col-sm-4 col-5 text-center">
    <div class="img-profile">
      <img src="img/barbaraschnitzer.jpg" alt="Barbara Schnitzer" class="img-fluid">
    </div>
    <a href="https://www.chalmers.se/en/Staff/Pages/barsch.aspx" target="_blank" class="badge badge-primary mb-3">Barbara Schnitzer</a>
  </div>
  <div class="w-100 d-md-none d-lg-none d-xl-none"></div>
  <div class="col-md-2 col-sm-4 col-5 text-center">
    <div class="img-profile">
      <img src="img/felixheld.jpg" alt="Felix Held" class="img-fluid">
    </div>
    <a href="https://www.chalmers.se/en/Staff/Pages/felix-held.aspx" target="_blank" class="badge badge-primary mb-3">Felix Held</a>
  </div>
  <div class="col-md-2 col-sm-4 col-5 text-center">
    <div class="img-profile">
      <img src="img/Filip-Buric_170.jpg" alt="Filip Buric" class="img-fluid">
    </div>
    <a href="https://www.chalmers.se/en/Staff/Pages/buric.aspx" target="_blank" class="badge badge-primary mb-3">Filip Buric</a>
  </div>
  <div class="col-md-1 col-12"></div>
</div>