<div class="row pt-3">
  <div class="col">
    <h1 id="workshop">The Workshop</h1>
    <p>
      We are pleased to invite you to our Workshop on Modelling in Biology and Medicine (MBM). The workshop will take place on 9th and 10th May 2019 in Gothenburg, Sweden. We aim to gather all young researchers in Sweden working on modelling of biological systems. Our ambition is to give all participating PhD students and PostDocs the opportunity to present their work through an oral presentation or a poster. Further, we wish to provide an insight on how modelling in biology and medicine is practiced in academia and industry.
    </p>
    <p>
      <strong>
        We are looking forward to meeting you at the MBM workshop!
      </strong>
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      A selection of topics that are suitable for posters and talks at this workshop.
      Topics not on this list but related to modelling in biology or medicine
      are also very welcome!
    </p>
    <div class="card">
      <div class="card-body">
        <span class="badge badge-primary mx-2">Kinetic modelling</span> 
        <span class="badge badge-primary mx-2">Rule-based modelling</span>
        <span class="badge badge-primary mx-2">Boolean modelling</span>
        <span class="badge badge-primary mx-2">Spatial modelling</span>
        <span class="badge badge-primary mx-2">Machine learning / Deep learning</span>
        <span class="badge badge-primary mx-2">Network modelling</span>
        <span class="badge badge-primary mx-2">Statistical modelling</span>
        <span class="badge badge-primary mx-2">Stochastic modelling</span>
        <span class="badge badge-primary mx-2">Gene regulation</span>
        <span class="badge badge-primary mx-2">Multi-scale modelling</span>
        <span class="badge badge-primary mx-2">Biomarkers</span>
        <span class="badge badge-primary mx-2">Cancer</span>
        <span class="badge badge-primary mx-2">Systems biology</span>
        <span class="badge badge-primary mx-2">Synthetic biology</span>
        <span class="badge badge-primary mx-2">Pharmacokinetics</span>
        <span class="badge badge-primary mx-2">Pharmacodynamics</span>
        <span class="badge badge-primary mx-2">Drug target discovery</span>
        <span class="badge badge-primary mx-2">Genome-scale metabolic models</span>
        <span class="badge badge-primary mx-2">Bioinformatics </span>
        <span class="badge badge-primary mx-2">Evolutionary biology </span>
        <span class="badge badge-primary mx-2">Theoretical biology</span>
      </div>
    </div>
  </div>
</div>
<div class="row pt-3">
  <div class="col">
    <h1>Who we are</h1>
    <p>
      We are a small group of doctoral students working at the Department of Mathematical Sciences, Chalmers University of Technology and University of Gothenburg, as well as the Department of Systems and Synthetic Biology, Chalmers University of Technology.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="https://www.chalmers.se/en/departments/math/Pages/default.aspx" target="_blank" class="badge badge-primary">Mathematical Sciences</a>
    <a href="https://www.chalmers.se/en/departments/bio/research/systems-biology/Pages/default.aspx" target="_blank" class="badge badge-primary">Systems and Synthetic Biology</a>
  </div>
</div>
<div class="row pt-3">
  <div class="col">
    <h2>Organizing committee</h2>
  </div>
</div>
<div class="row pb-3 justify-content-around">
  <div class="col-md-1 col-12"></div>
  <div class="w-100 d-md-none d-lg-none d-xl-none"></div>
  <div class="col-md-2 col-sm-4 col-5 text-center">
    <div class="img-profile">
      <img src="img/johannesborgqvist.png" alt="Johannes Borgqvist" class="img-fluid">
    </div>
    <a href="https://www.chalmers.se/en/Staff/Pages/johborgq.aspx" target="_blank" class="badge badge-primary mb-3">Johannes Borgqvist</a>
  </div>
  <div class="col-md-2 col-sm-4 col-5 text-center">
    <div class="img-profile">
      <img src="img/barbaraschnitzer.png" alt="Barbara Schnitzer" class="img-fluid">
    </div>
    <a href="https://www.chalmers.se/en/Staff/Pages/barsch.aspx" target="_blank" class="badge badge-primary mb-3">Barbara Schnitzer</a>
  </div>
  <div class="w-100 d-md-none d-lg-none d-xl-none"></div>
  <div class="col-md-2 col-sm-4 col-5 text-center">
    <div class="img-profile">
      <img src="img/felixheld.png" alt="Felix Held" class="img-fluid">
    </div>
    <a href="https://www.chalmers.se/en/Staff/Pages/felix-held.aspx" target="_blank" class="badge badge-primary mb-3">Felix Held</a>
  </div>
  <div class="col-md-2 col-sm-4 col-5 text-center">
    <div class="img-profile">
      <img src="img/Filip-Buric_170.jpg" alt="Filip Buric" class="img-fluid">
    </div>
    <a href="https://www.chalmers.se/en/Staff/Pages/buric.aspx" target="_blank" class="badge badge-primary mb-3">Filip Buric</a>
  </div>
  <div class="col-md-1 col-12"></div>
</div>